.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: #282c34;
  height: 100vh;
}

.body > * {
  margin-bottom: 12px;
}

.iconLore {
  width: 24px;
  margin-right: 8px;
}

.background {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 266px;
  height: 140px;
  margin-left: -9px;
}

.background-root {
  background-image: url("./images/background/background-root.png");
}

.background-branch {
  background-image: url("./images/background/background-branch.png");
}

.background-leaf {
  background-image: url("./images/background/background-leaf.png");
}

.background-icon {
  width: 42px;
  height: 42px;
  padding: 3px;
  background: url("./images/background/background-icon.png") no-repeat;
}

.background-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 151px;
  height: 32px;
  background: url("./images/background/background-title.png") no-repeat;
}

.lore {
  position: relative;
  display: flex;
  align-items: center;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.lore:disabled {
  cursor: not-allowed;
}

.lore + p {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: auto;
  top: 100%;
  left: 50%;
  padding: 5px;
  margin-left: -150px;
  visibility: hidden;
  background-color: #121e2a;
  color: #c0c2c6;
  text-align: center;
  border-radius: 6px;
}

.lore:hover + p {
  visibility: visible;
}

.title {
  color: white;
  font-size: 0.75rem;
  padding-right: 28px;
}

.selectedIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -12px;
  width: 48px;
  height: 48px;
  background-image: url("./images/selected.svg");
}

.selectedText {
  color: white;
}

.blessingRow {
  display: flex;
}

.blessingRow > * {
  margin: 0 8px;
}

.iconBlessing {
  width: 42px;
  height: 42px;
}

.button {
  appearance: button;
  cursor: pointer;
  transition: background-color 0.25s;
  padding: 8px 0;
  background-color: white;
  border: solid 1px gray;
  font-size: 16px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  width: 80px;
  text-align: center;
  margin: 0 8px;
}

.button:hover {
  background-color: gray;
}
