.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 266px;
  height: 140px;
  margin-left: -9px;
}

.background-root {
  background-image: url("./images/background/background-root.png");
}

.background-branch {
  background-image: url("./images/background/background-branch.png");
}

.background-leaf {
  background-image: url("./images/background/background-leaf.png");
}

.background-icon {
  width: 42px;
  height: 42px;
  padding: 3px;
  background: url("./images/background/background-icon.png") no-repeat;
}

.background-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 151px;
  height: 32px;
  background: url("./images/background/background-title.png") no-repeat;
}

.lore {
  display: flex;
  align-items: center;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.title {
  color: white;
  font-size: 0.8rem;
}
